<head>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<div class="contenedor contenedor-footer">

    <nav class="navegacion">
        <a target="_parent" href="../nosotros.html">Nosotros</a>
        <a target="_parent" href="../anuncios.php?pagina=1">Anuncios</a>
        <a target="_parent" href="../contacto.html">Contacto</a>
    </nav>
    <p class="copyright">Todos los Derechos Reservados 2021 <a class="hiddenmenu"target="_parent" href="../login/login.php">&copy;</a> </p>
</div>